/* Inria serif */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Paprika */
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-animation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.p-gradient {
    background: linear-gradient(270deg, #ff0000, #ff7a18, #ffcd1e);
    background-size: 600% 600%;
    -webkit-animation: gradient-animation 5s ease infinite;
    -moz-animation: gradient-animation 5s ease infinite;
    animation: gradient-animation 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: green;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}